*.o
*.a
*.so
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
.idea/
darknet
yolo.weights
workspace/
drivers/
.fuse*
*~

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
